.center-content {
  display: flex;
  justify-content: center;
}
.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Barlow Condensed', Sans-serif;
}
img {
  max-width: 100%;
  border-radius: 15px;
}
body {
  background-color: #F5F8F6;
  border: 1px solid #918FA9;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #918FA9;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #5b768f;
}
section {
  border-bottom: 2px dotted #E9A8A9;
}
button {
  background-color: #a5a9b9;
  color: #F5F8F6;
  border-radius: 5%;
  padding: 15px;
}
.container {
  width: 98%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #a5a9b9;
}
.header {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
}
.nav .active {
  background-color: #E9A8A9;
  border-radius: 5px;
}
.nav .dropdown {
  float: left;
  overflow: hidden;
  display: none;
}
.nav .dropdown .dropbtn {
  color: #F5F8F6;
  font-size: 2.4rem;
  border: none;
  background-color: inherit;
  font-family: inherit;
}
.nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5F8F6;
  text-decoration: none;
  z-index: 1;
}
.nav .dropdown .dropdown-content a {
  float: none;
  color: #a5a9b9;
  text-decoration: none;
  display: block;
  text-align: center;
}
.nav .nav-links {
  text-decoration: none;
  color: #F5F8F6;
  font-size: 2.4rem;
  padding: 1rem;
  display: none;
}
.nav:visited {
  text-decoration: none;
  color: #F5F8F6;
}
.open-nav {
  font-size: 3.2rem;
  padding: 1rem 0;
  color: #F5F8F6;
}
.open {
  display: block;
}
.open .nav-links {
  display: block;
  text-align: center;
  widows: 100%;
}
.open .nav-links:hover {
  font-style: italic;
  background-color: #F5F8F6;
  color: #a5a9b9;
}
a:hover {
  font-style: italic;
  background-color: #F5F8F6;
  color: #a5a9b9;
}
.attn-grabber img {
  width: 40%;
}
@media (min-width: 800px) {
}
@media (min-width: 1280px) {
  body {
    width: 80%;
  }
  .container {
    width: 80%;
  }
}
